

#navbar {
  list-style-type:none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(31, 208, 214, 0.89);
}


#team a {
  text-decoration: none;
}

#about {
background-color: rgb(142, 110, 179);
width: 350px;
height: 350px;

}

.github{
margin: 5px;
color: blue;
}

.linkden {
  margin: 5px;
  color: black;
}

#logo {
  float: left;
  margin-right: 5px;
}

#github {
margin: 0;
}