@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed&family=Quattrocento+Sans&display=swap');
body{
  background-color: rgb(177, 181, 184);
}

#navbar {
  list-style-type:none;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right,#534c4c, #0f86aa);
}

#title {
  margin-left: 3%;
  font-family: 'Asap Condensed', sans-serif;
  color:#d1d1d1;
  position: absolute;
  font-size: 50px;
  top: 5.5%
}


.team {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: normal;
  justify-content: center;
  align-items: normal;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
}

 .dev {
  display: inline-block;
  width: 10em;
  height: 3em;
  margin: 3em;
  flex: 0 0 15%;
 }

#about {
  height: auto;
  margin-bottom: 100px;
  margin: auto;
  width: 75%;
  color: #182127;
  font-size: 20pt;
  font-family: 'Quattrocento Sans', sans-serif;
  text-align: justify;
  
}


.button {
  text-align: center;
  border-radius: 5px;
  border: 0.1em solid lightgray;
  box-sizing: content-box;
  font: bold 18px sans-serif;
  text-decoration: none;
  color: #d3d0d0;
  height: 28px;
  width: 70px;
}
.button:hover {
  color:#000000;
  background-color: lightgray;

}
#github{
  margin-top: 40px;
  margin-right: 2px;
  position:absolute;
  top:0;
  right:0;
  margin-right: 10.5em;
}

#npm{
  margin-top: 40px;
  margin-right: 2px;
  position:absolute;
  top:0;
  right:0;
  margin-right: 7em;
}

#gql-linkdin{
  margin-top: 40px;
  margin-right: 2px;
  position:absolute;
  top:0;
  right:0;
  margin-right: 2em;
}

#medium{
  margin-top: 80px;
  margin-right: 2px;
  position:absolute;
  top:0;
  right:0;
  margin-right: 4em;
}

.linkden {
  font-family: 'Asap Condensed', sans-serif;
  font-size: 16pt;
  text-decoration: none;
  color:rgb(9, 37, 75);
}
.linkden:hover {
  color: rgb(216, 52, 52);
}

.github{
  text-decoration: none;
  color:rgb(9, 37, 75);
  font-family: 'Asap Condensed', sans-serif;
}
.github:hover {
  color: rgb(216, 52, 52);
}

#logo {
  margin-top: 1%;
  margin-left: 3%;
  top: 5%;
  width: 100px;
}
