@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed&display=swap');

#navbar {
  list-style-type:none;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right,#534c4c, #0f86aa);
}

#title {
  margin-left: 3%;
  font-family: 'Asap Condensed', sans-serif;
  color:#d1d1d1;
  position: absolute;
  font-size: 40px;
  top: 5.5%
}


.team {
  column-count: 2;
  column-rule-style: solid;
  display: inline-block;
  column-width: 100px;
  column-gap: 50px;
  row-gap: 40px;
}

 #charlie{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
 }

 #drake{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
 }

 #jiwon{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
 }

 #phoenix{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
 }

#about {
  border:0.1em solid #110f0f;
  height: 350px;
  margin: 1em;
  text-align: center;
}


.button {
  margin-top: 50px;
  margin-right: 2px;
  position:absolute;
  top:0;
  right:0;
  margin-right: 2em;
  text-align: center;
  border-radius: 5px;
  border: 0.1em solid lightgray;
  box-sizing: content-box;
  font: bold 18px Arial;
  text-decoration: none;
  color: #d3d0d0;
  height: 28px;
  width: 70px;
}
.button:hover {
  color:#000000;
  background-color: lightgray;

}

.linkden {
  margin-left: 10px;
  color: black;
}

#logo {
  margin-top: 1%;
  margin-left: 3%;
  top: 5%;
  width: 100px;
}
